<header class="header">
  <img src="/loguito.png" class="logo" alt="Logo" />
  <nav>
    <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
  </nav>
</header>

<section class="buscador">
  <div class="buscador-contenedor">
    <h2 class="frase-buscador">Encuentra el salón perfecto para tu evento</h2>
    <div class="barra-busq">
      <input 
        type="text"
        [(ngModel)]="busqueda"
        (input)="filtrar()"
        placeholder="Buscar salón..."
        class="buscador-input"
      />

      <select [(ngModel)]="filtroCapacidad" (change)="filtrar()" class="selector-capacidad">
        <option value="">Capacidad</option>
        <option value="0-200">0 - 200</option>
        <option value="201-300">201 - 300</option>
        <option value="301-400">301 - 400</option>
      </select>
    </div>
  </div>
</section>

<section class="salones-grid">
    <div *ngIf="isLoading" class="cargando">Cargando salones disponibles...</div>
    <div *ngIf="!isLoading && salonesFiltrados.length === 0" class="alerta">
        No se encontraron salones publicados que coincidan con la búsqueda.
    </div>
    
    <div class="card" *ngFor="let salon of salonesFiltrados">
                <img [src]="salon.imagenes?.[0] || '/default-placeholder.jpg'" alt="Imagen salón" /> 
        <div class="card-info">
            <h3>{{ salon.nombre }}</h3>
                        <p *ngIf="salon.ubicacion">{{ salon.ubicacion.colonia }}</p> 
            <p class="capacidad">Capacidad: {{ salon.capacidad }} personas</p>
            <button class="btn-detalles" (click)="verDetalles(salon)">Detalles</button>
        </div>
    </div>
</section>