<div class="contenedor" *ngIf="salon">

  <h1 class="titulo">{{ salon.nombre }}</h1>

    <div class="galeria">
                <img *ngFor="let img of salon.imagenes" [src]="img" alt="Foto salón" /> 
  </div>

    <div class="info">
    <p>{{ salon.descripcion }}</p>
    <p><strong>Capacidad:</strong> {{ salon.capacidad }} personas</p>
    <p *ngIf="salon.ubicacion"><strong>Ubicación:</strong> {{ salon.ubicacion.calle }} #{{ salon.ubicacion.numero }}, 
        {{ salon.ubicacion.colonia }}, {{ salon.ubicacion.ciudad }}
    </p>
                <p><strong>Teléfono:</strong> {{ salon.telefono }}</p>
    <p><strong>Email:</strong> {{ salon.email }}</p>
  </div>

  <h2 style="margin-top: 30px;">Disponibilidad</h2>
  <full-calendar [options]="calendarOptions"></full-calendar>

      <h2>Ubicación</h2>
  <iframe 
    width="100%" 
    height="300px" 
    style="border:0;border-radius:10px;"
    loading="lazy"
    allowfullscreen
    [src]="mapaSeguro">  </iframe>
</div>