<div class="login-container">

  <div class="loginImagen">
    <div class="overlay">
      <h1 class="eslogan">Tu evento, nuestra ocasión perfecta</h1>
    </div>
  </div>

  <div class="loginForm">

    <img src="logo.jpg" alt="..." class="logoLogin">

<div class="contenedor-login">

  <!-- 🔵 Selector de pestañas -->
  <div class="tabs">
    <button 
      [class.activo]="modo === 'login'" 
      (click)="modo = 'login'">
      Iniciar sesión
    </button>

    <button 
      [class.activo]="modo === 'registro'" 
      (click)="modo = 'registro'">
      Crear cuenta
    </button>
  </div>

  <!-- 🔐 FORMULARIO INICIAR SESIÓN -->
  <form *ngIf="modo === 'login'" (ngSubmit)="iniciarSesion()">
  <label>Email</label>
  <input type="email" [(ngModel)]="login.email" name="email" required />

  <label>Contraseña</label>
  <input type="password" [(ngModel)]="login.password" name="password" required />
     
  <!-- BOTÓN DE GOOGLE -->
  <div id="google-btn" class="authContainer"></div>

  <button type="submit" class="btn-principal">Entrar</button>

</form>


  <!-- 📝 FORMULARIO REGISTRO -->
  <form *ngIf="modo === 'registro'" (ngSubmit)="registrar()">
    <label>Nombre</label>
    <input type="text" [(ngModel)]="registro.nombre" name="nombre" required />

    <label>Apellido paterno</label>
    <input type="text" [(ngModel)]="registro.apPaterno" name="apPaterno" required />

    <label>Apellido materno</label>
    <input type="text" [(ngModel)]="registro.apMaterno" name="apMaterno" />

    <label>Email</label>
    <input type="email" [(ngModel)]="registro.email" name="emailR" required />

    <label>Teléfono</label>
    <input type="tel" [(ngModel)]="registro.telefono" name="telefono" required />

    <label>Contraseña</label>
    <input type="password" [(ngModel)]="registro.password" name="passwordR" required />

    <label>Fecha de creación</label>
    <input type="date" [(ngModel)]="registro.fecha" name="fecha" required />

    <button type="submit" class="btn-principal">Crear cuenta</button>
  </form>

</div>
  </div>

</div>
