.login-container {
    display: flex;
    height: 97vh;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* IZQUIERDA */
.loginImagen {
    flex: 1;
    background-image: url('/fondoLogin.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 880px;
}

/* capa oscura suave sobre la imagen */
.overlay {
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eslogan {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    max-width: 80%;
}

/* DERECHA */
.loginForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    margin-top: -70px;
    background: #ffffff;
}

.logoLogin {
    width: 400px;
    padding-left: 130px;
    margin-top: 200px;
}

.contenedor-login {
  width: 350px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  background: #a4d7f5;
  border-radius: 30px;
  overflow: hidden;
}

.tabs button {
  flex: 1;
  padding: 10px 0;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.tabs button.activo {
  background: #165a9e;
  color: white;
}

form h2 {
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-principal {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #165a9e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-principal:hover {
  background: #0d4478;
}
